<br />
<img src="https://matheusgrundler.com/wp-content/uploads/2019/10/logo.png" /><br /><br />
<strong>Bem vindo a Gympoint, <span style="color:#EE4D64">{{ student }}</span></strong>

<p> Abaixo estão as informações de seu plano contratado.</p>
<p>
  <strong style="color:#EE4D64">Plano: </strong> {{ plan_title }} <br />
  <strong style="color:#EE4D64">Duração/mês: </strong> {{ duration }} <br />
  <strong style="color:#EE4D64">Preço final: </strong> R$ {{ price }},00 <br />
  <strong style="color:#EE4D64">Data de início: </strong> {{ start_date }} <br />
  <strong style="color:#EE4D64">Data de Final: </strong> {{ end_date }} <br />
  <br />
  <small>
    Estamos disponíveis par qualquer dúvida.
  </small>
</p>